@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@font-face {
    font-family: 'TWKEverett';
    src: url('../fonts/TWKEverett-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'TWKEverett', 'Roboto Mono', monospace;
    background-color: #1a1a1a;
}

button, .control-btn, .tab-btn, .color-button, [role="button"], a {
    cursor: pointer;
}

.slider-handle, .h-slider-handle {
    cursor: grab;
}

.slider-handle:active, .h-slider-handle:active {
    cursor: grabbing;
}

/* Container scalato - design a 1080px di altezza */
.scalable-container {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: row;
    transform-origin: top left;
    background-color: #ffffff;
}

/* Sidebar - dimensioni aumentate */
.sidebar-section {
    width: 380px;
    height: 100%;
    flex-shrink: 0;
    background-color: #ffffff;
    padding: 30px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
