/* Panel Base */
.panel {
    width: 330px;
    background-color: #f2f2f2;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    outline: 0.5px solid #000000;
}

.panel-top {
    height: 480px;
    margin-bottom: 25px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px;
    position: relative;
    flex-direction: column;
}

.panel-top-logo {
    height: 14px;
    width: auto;
}

.panel-top-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 70px;
    width: auto;
}

.panel-top-subtitle {
    font-family: 'TWKEverett', 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #000000;
    line-height: 1.5;
    margin-top: 7px;
}

.panel-top-text {
    font-family: 'TWKEverett', 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 14x;
    color: #f2f2f2;
    line-height: 1.5;
    margin-top: 15px;
}

.panel-top-rectangle {
    width: 280px;
    height: 100px;
    border: 0.5px solid #929292;
    background-color: transparent;
    margin-top: 15px;
    border-radius: 5px;
    font-family: 'TWKEverett', 'Roboto Mono', sans-serif;
    font-size: px;
    color: #000000;
    padding: 12px;
    resize: none;
    outline: none;
    overflow: auto;
}

.panel-top-rectangle::placeholder {
    color: #929292;
    opacity: 0.5;
}

.panel-middle {
    height: 400px;
    margin-bottom: 25px;
    overflow: hidden;
}

.panel-bottom {
    height: 70px;
}